///Tamanho de Fonte:

$colorPrimary: #2a9134;
$colorSecundary:#107acb;
$banner-opacity:rgba(15, 14, 14, 0.2);
$colorGray-200: #e9ecef;

$fontSize_1: .8rem; ///icons
$fontSize_2: .9rem; /// icons, links
$fontSize_3: 1rem;   ///textos 1
$fontSize_4: 1.4rem; ///subtitles
$fontSize_5: 1.9rem; ///subtitles
$fontSize_6: 2.8rem;   ///display
$fontSize_7: 3.5rem;   ///display
$fontSize_8: 4.1rem; ///display
$fontSize_9: 5rem; ///display



/// Espacamento entre letras:
$letter-spacing_1: 1px;
$letter-spacing_2: 1px;

///Margin:
$margin_1: .3rem;

///padding
$padding-Y0: .5rem 0;
$padding-Y1: 1rem 0;
$padding-Y2: 1.5rem 0;
$padding-Y3: 2rem 0;
$padding-Y4: 2.5rem 0;
$padding-Y5: 3rem 0;

///Fonts
///font-family: 'Lato', sans-serif;
///font-family: 'Playfair Display SC', serif;
$titulos:'Roboto Slab', serif;
$textos:'Lato', sans-serif;

