.header .contatos{
   background-image: linear-gradient(to right, $colorSecundary, $colorPrimary);
    width: 100%;
    height: auto;
    .dim{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        padding: .5rem 0;
        @extend %blockSize_1;
        @media screen and (min-width:768px){
            flex-direction: row;
            @include blockSize_2;
        }
    }
}
.header nav{
    @extend %blockSize_1;
    @media screen and (min-width:768px) {
        @include blockSize_2;
    }
}