.container-services-card{
    background-color: $gray-200;
    padding: 8rem 0;
    .services-card{
        @extend %blockSize_1;
        display: flex;
        flex-direction: column;
        @media screen and(min-width:768px) {
            @include blockSize_2;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media screen and(min-width:1024px) {
            
        }
        .s-cards-article{
            @media screen and(min-width:768px) {
                width: calc(50% - 1rem);
                margin: 3.5rem 0;
            }
            @media screen and(min-width:1024px) {
                width: calc(33% - 1rem);
            }
        }
    }
}