.perguntas{
    background-color: $gray-200;
    .preguntas-container{
        @include blockSize_1;
        padding: 4rem 0;
        @media screen and (min-width:1024px){
            @include blockSize_2;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 7rem 0;
        }
    }
}
.perguntas-infor> h2{
    @include styleFont($titulos, $fontSize_5, bold, $gray-900);
    text-align: center;
    margin-bottom: 1rem;
}

.perguntas-infor> p{
    @include styleFont($textos, $fontSize_3, normal, $gray-800);
    margin: .5rem 0 2.5rem;
}
.secao-fotos{
    width:100%; 
    margin-top: 4rem;
    @include flex (flex, row, wrap, center);
    img{
        &:first-child{
            width: 100%;
        }
        width: 50%;
    }
}
@media screen and (min-width:1024px){
    .perguntas-infor{
        width: 43%;
    }
    .secao-fotos{
        width: 54%;
        max-width: 458px;
        max-height: 465px;
        margin-top: 0;
    }
}
