.t-infor-suport{
    width: 100%;
    height: auto;
    background-color: $white;
    padding-top: 3rem;
}
.t-infor{
    @include blockSize_1;
    @include centralizar_column;
    .t-infor-img{
        
        img{
            ///top: 100px;
            width: 100%;
            height: 100%;
        }
    }
    .t-infor-img, .t-infor-article{
        width:100%;
        max-width: 400px;
    }
    @media screen and (min-width:768px){
        flex-direction: row;
        justify-content: start;
    }
    @media screen and (min-width:1024px){
        @include blockSize_2;
        .t-article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .t-infor-img{
            max-width:40%;
        }
        .t-infor-article{
            max-width: 100%;
        }

    }
    
}  
.t-infor-article{
    h2{
        @include styleFont($titulos, $fontSize_5, bolder, $gray-800);
        text-align: center;
        padding-bottom: 2rem;
    }
}
.t-article-container{
   .t-article{
       margin: 1rem;
       display: flex;
       justify-content:start;
       .img{
          @include centralizar;
           @include circle(70px,70px);
           background-color: $colorPrimary;
           @include icon(0, 0, $fontSize_5, $white);
           padding: 1.5rem;
       }
       .info{
           margin-left: .5rem;
           h3{
            @include styleFont($textos, $fontSize_4, bold, $gray-900);
           }
           p{
               @include styleFont($textos, $fontSize_3, normal, $gray-700);
               padding: 1rem 0;
           }
       }
   }
   @media screen and (min-width:1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    .t-article{
        width: 42%;
    }
   }
   @media screen and (min-width:1200px){
    justify-content: space-between;
    
   }
}
///$margin, $padding, $fontSize, $fontColor