.banner-fixed-pages{
    background-image: url(bg_img/bg_2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    .banner-opacity{
        background-image: linear-gradient(to right, $colorSecundary, $colorPrimary);
        filter: opacity(.5);
    }
}