.banner{
    width: 100%;
    height: 100%;
    background-image: url('bg_img/bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    .banner-opacity{
        width: inherit;
        height: inherit;
        background-color:$banner-opacity;
    }
}
.bloco {
    padding: 8rem 0;
    @extend %centralizar;
    flex-direction: column;
    @extend %blockSize_1;
    transform: translateY(2.5rem);
    opacity: 0;
    transition: transform 2s, opacity 2s;
    
    
    p{
        @include styleFont($textos, $fontSize_6, bolder, $white);
        text-align: center;
        margin-bottom: 3.5rem;
        padding: 2rem 0;
    }
    a{
        background-color: $colorPrimary;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: .3rem;
        @include styleFont($textos, $fontSize_2, bolder, $white);
        transition: background-color .5s, color 1s;
        &:hover{
            background-color: transparent;
            border: 2px solid $colorPrimary;
            color: $colorPrimary;
        }
    }
    @media screen and (min-width:576px){
        @include blockSize_2;
            p{
                font-size: $fontSize_7;
            }
        }
    @media screen and (max-height:768){
        padding: 12rem 0;
        p{
            font-size: $fontSize_8;
            
        }
    }
    
    @media screen and (min-width:1024px){
        padding: 14rem 0;
            p{
                font-size: $fontSize_9;
                margin-bottom: 2.5rem;
            }
        }        
}
 