///////////////////////////////////////////
/// ITEMS LOCATED SOON AFTER THE BANNER.
/// ARTIGOS LOCALIZADOS LOGO APOS O BANNER.
.s-cards-article{
    position: relative;
    @extend %centralizar_column;
    background-color: $white;
    border-radius: .5rem;
    margin-top: 6rem;
    transition: background-color 1s;
    @media screen and (min-width:1024px){
        width: 32%;
        margin-top: 0;
        &:last-child{
            margin-right: 0;
        }
    }
    .s-card-icon{
        position: absolute;
        top: -3.8rem;
        background-color: $gray-300;
        transition: background-color 1s;
        display: inline-block;
        margin: .5rem;
        @include circle(100px, 100px);
        @extend %centralizar;
        .icon-svg{
            width: 90px;
            height: 90px;
            fill: $colorPrimary;
            padding: 1rem;
        }
    }
    .s-card-title{
        margin: 4rem 0 1rem;
        @extend %title_h2;
    }
    .s-paragraph{
        @include styleFont($textos, $fontSize_3, normal, $gray-700);
        padding: .5rem 1.5rem 3rem;
        text-align: center;
    }
    .s-card-title, .s-paragraph{
        transition: color 1s;
   }
    
    .s-card-link{
        position: absolute;
        bottom: -25px;
        @include circle(50px, 50px);
        @extend %centralizar;
        background-color: $colorPrimary;
        color: $white;
        transition: background-color 1s, transform 1s;
    }
        &:hover{
            background-color: $colorPrimary;
            cursor: pointer;
            .s-card-title, .s-paragraph{
                 color: white
            }
            .s-card-icon,.s-card-link{
                background-color: white;
            }
            .s-card-link{
                color: $colorPrimary;
                transform: translateX(1rem);
            }
        }

}
/// class added or removed dynamically when hovering over cards.
//// classe adicionada ou retirada dinamicamente ao passar o mouse nos cards.

    #diamnic-card{
        background-color: $colorPrimary;
        .s-card-title, .s-paragraph{
            color: white
       }
       .s-card-icon,.s-card-link{
        background-color: white;
    }
    .s-card-link{
        color: $colorPrimary;
        transform: translateX(0);
    }
    }

/////////////////////////////////////////////////////////////////////
/*
    THIS CARD BELONGS TO THE CUSTOMER TESTIMONIALS AND FEEDBACKS SECTION
    IT IS CONTAINED IN THE CARROCEL.

    ESTE CARD PERTENÇE A SEÇÃO DE DEPOIMENTOS E FEEDBACKS DE CLIENTES
    ESTÁ CONTIDO NO CARROCEL.
*/
.card-client{
    position:  relative;
    width: 100%;
    background-color: $white;
    border-radius: .4rem;
    padding: 1rem;
    margin: 4rem 0;
    .fas{
        position: absolute;
        top: -20px;
        left: 20px;
        @include circle(40px, 40px);
        @extend %centralizar;
        background-color: $colorPrimary;
        color: $white;
    }
    p{
        @include styleFont($textos, $fontSize_3, normal, $gray-800);
        margin: .5rem 0;
    }
}
.card-client-dados{
    @include flex (flex, row, nowrap, start);
    padding: 1rem 0;
    img{
        @include circle(80px, 80px);

    }
    .dados-pessoais{
        @include flex (flex, column, nowrap, start);
        align-self: center;
        margin-left: 1rem;
        h5{
            @include styleFont($titulos, $fontSize_4, bold, $gray-900);
        }
        span{
            @include styleFont($textos, $fontSize_3, normal, $gray-800);
        }
    }
}

/////////////////////////////////////////////////////////////
/// PROMOTIONAL PACKAGES SECTION.
/// SEÇÃO DE PACOTES PROMOCIONAIS.

.card-pacotes{
    width: 100%;
    margin-bottom: 2rem;
    @media screen and(min-width:768px) {
        width: 49%;
    }
    @media screen and (min-width:1460px){
        width: 24.5%;
    }
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      .card-body{
        .c-title{
            @include styleFont($titulos, $fontSize_4, bold, $colorPrimary);
            padding: 1.5rem 0;
            text-transform: uppercase;
        }
        span{
            @include styleFont($textos, $fontSize_3, normal, $gray-600);
            strong{
                font-size: $fontSize_6;
                color: $black;
                font-weight: bolder;
            }
        }
        .card-table{
            width: 100%;
            margin: 1.5rem 0;
            tr{
                &:nth-child(odd){
                    background-color: $gray-200;
                }
            }
            tr td{
                @include styleFont($textos, $fontSize_3, normal, $gray-700);
                text-align: center;
                padding: .8rem 0;
            }
        }
        .btn{
            color: $white;
        }
      }
      
      .card-table tr td i{
          color: $colorPrimary;
          margin-right: .5rem;
      }

/////////////////////////////////////////////////////////////
/// NEWS AND BLOG SECTION.
/// SEÇÃO DE NOTICIAS E BLOG.
.article-container-card{
    @include flex (flex, column, nowrap, center);
    .card{
        width: 100%;
        margin: 1.5rem 0;
        &:hover{
            img{
                filter: saturate(0.3);
            }
        }
        .card-body{
            .blog-link{
                @include styleFont($titulos, $fontSize_2, normal, $gray-500);
                text-transform: uppercase;
                line-height: 2rem;
                transition: color .5s;
                .fas{
                    font-weight: bold;
                    margin: 0 .3rem;
                }
                &:hover{
                    color: $colorPrimary;
                }
            }
            .blog-text{
                @include styleFont($textos, $fontSize_3, normal, $gray-600);
                margin: .5rem 0;
                transition: color .5s;
                &:hover{
                    color: $colorPrimary;
                }
            }
        }
    
    }
    @media screen and(min-width:768px){
        flex-direction: row;
        justify-content: space-between;
        .card{
            width: 33%;
            max-width: 500px;
            margin-left: .5rem;
        }
    }
    
}

/*=================PAGE VETERINARIANS=================*/
///Card belonging to veterinarians
///Card pertencente aos veterinarios

.veterinarians-card{
    width: 100%;
    margin-bottom: 1rem;
    @media screen and(min-width:567px){
        width: calc(50% - .5rem);
        height: calc(auto - 1rem);
    }
    
    @media screen and(min-width:1200px){
        width: calc(25% - 1rem);

    }
    .card-body{
        .card-title{
            @include styleFont($titulos, $fontSize_4, bold, $gray-800);
        }
        .card-subtitle{
            @include styleFont($titulos, $fontSize_3, bold, $gray-700);
            font-style: italic;
        }
        .card-text{
            @include styleFont($textos, $fontSize_3, normal, $gray-600);
        }
    }
}