
  .modal-content {
    width: 90%;
    margin: 0 auto;
    color: $white;
    background-color: $Primary-color;
    border: $modal-content-border-width solid $white;
  }
  
  .modal-title {
    text-transform: uppercase;
    font-family: $titulos;
  }

  .modal-body {
    font-family: $textos;
    p{
      margin-bottom: 1rem;
    }
    ul li{
      margin-left: 1.1rem;
      list-style:disc;
    }
  }
  
  
  
  
 
  