.navbar{
    width: 100%;
    padding: 0;
    margin: 1rem 0;  ////R-media
    line-height: 3rem;
    .container-fluid{
        width: 100%;
        .navbar-collapse{
            width: 100%;
            justify-content: flex-end;
        }
    }
    @media screen and(min-width:1140px) {
        margin: 0;
        line-height: 5rem;
    }
}
.navbar-brand{
    @include styleFont($titulos, 2.2rem, bolder, $black !important);
    i{
        color: $colorPrimary;
        margin-right: .6rem;
    }
}
.nav-item{
    .nav-link{
        margin-left: 1rem;
        @include styleFont($textos, $fontSize_3, bold, #2a9134 !important);
        border-bottom: 2px solid $gray-100;
        margin-left: 0;
        transition: color .5s, border-bottom 1s;
        &:hover{
            border-bottom: 2px solid #2a9134;
            color: $gray-300 !important;
        }
        @media screen and(min-width:1140px) {
            color: $black !important;
            &:hover{
                border-bottom: 2px solid #2a9134;
                color: #2a9134 !important;
            }
        }
        @media screen and(min-width:1320px){
            margin-left: .8rem;
        }
    }
    @media screen and(min-width:1140px) {
    .link-ativo{
        color: #2a9134;
            border-bottom: 2px solid #2a9134;
        
        }
    }
}

